# --- Project Settings ---
PROJECT_NAME=ticket-classifier-model
API_V1_STR=/api/v1

# --- Model Settings ---
# Use "1" for offline mode, "0" to allow downloading from HuggingFace
HF_HUB_OFFLINE=1
MODEL_NAME=facebook/bart-large-mnli

# --- Security & CORS ---
# Support formats: 
# 1. http://localhost:3000,http://127.0.0.1:3000
# 2. [http://localhost:3000,http://127.0.0.1:3000]
BACKEND_CORS_ORIGINS=[http://localhost:3000,http://127.0.0.1:3000]

# --- Server Settings (Optional) ---
# PORT=8000
# HOST=127.0.0.1